
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #36454f;
  font-family: "Open Sans", "Arial", sans-serif;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
}

/**
 * Component: Dropdown
 * --------------------------------------------------
 */
.c-dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-top:50px;
}

.c-dropdown__list {
  margin: 5px 0 0 0;
  padding: 6px 0;
  list-style: none;
  position: absolute;
  top: 125%;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  border-radius: 3px;
  background: #fff;
  -webkit-transition: opacity .25s linear, top .25s linear;
  transition: opacity .25s linear, top .25s linear;
}
.c-dropdown.is-open .c-dropdown__list {
  opacity: 1;
  visibility: visible;
  top: 60%;
}

.c-dropdown__item {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: #445663;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: background-color .25s linear;
  transition: background-color .25s linear;
}
.c-dropdown__item:hover {
  background-color: #E6E9ED;
}

/**
 * Component: Button
 * --------------------------------------------------
 */
.c-button {
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  overflow: visible;
  font: inherit;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.c-button:hover, .c-button:focus {
  outline: none;
  text-decoration: none;
}
.c-button:not(:disabled) {
  cursor: pointer;
}

/**
 * Component: Button
 * Modifier: Dropdown
 * --------------------------------------------------
 */
.c-button--dropdown {
  padding: 6px 34px 6px 12px;
  background-color: #209dbb;
  color: #E6E9ED;
  font-size: 14px;
  line-height: 20px;
  min-height: 32px;
  border-radius: 3px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}
.c-button--dropdown:hover {
  background-color: #209dbb;
}
/*.c-button--dropdown:after {
  content: "";
  position: absolute;
  top: 14px;
  right: 11px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #E6E9ED;
}*/
